.cartel {
  background-color: lightblue; }
  .cartel__pedido {
    color: black; }
  .cartel__buscador--color {
    color: black; }

.final__contacto--color {
  color: black; }

.textoProd {
  display: flex;
  justify-content: center; }

.tituloProductos {
  text-align: center;
  font-family: "Style script", cursive; }

.contacto {
  text-align: center;
  font-family: "Style script", cursive; }

.final__estilo {
  font-size: 11px; }

.final__redes {
  list-style: none;
  padding: 0; }

.listadoPreguntas {
  list-style: none;
  padding: 3%; }

.estilocontacto {
  font-family: "Style script", cursive; }

.logo__tamano {
  width: 25%; }

.tamanioLogoIg {
  width: 30%; }

.scale {
  width: 100%; }

.final__redes--tamano {
  font-size: 75%; }

.gridGaleria {
  display: grid;
  grid-template-areas: "imgProd1 imgProd2 imgProd3" "imgProd4 imgProd5 imgProd6";
  grid-template-rows: auto auto;
  grid-auto-columns: auto auto auto; }

.imgProd1 {
  grid-area: imgProd1;
  width: 30%; }

.imgProd2 {
  grid-area: imgProd2;
  width: 30%; }

.imgProd3 {
  grid-area: imgProd3;
  width: 30%; }

.imgProd4 {
  grid-area: imgProd4;
  width: 30%; }

.imgProd5 {
  grid-area: imgProd5;
  width: 30%; }

.imgProd6 {
  grid-area: imgProd6;
  width: 30%; }

.listaProd {
  display: inline-flex;
  flex-direction: row;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  flex-shrink: 2;
  justify-content: center;
  list-style: none; }

.barraProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; }

.imgProd {
  width: 200px; }

.zoom {
  border: 1px solid #fff;
  overflow: hidden;
  transition: all .3s linear; }

.zoom:hover img {
  transform: scale(2);
  transition: all .2s linear; }

.logoIg {
  width: 100%;
  justify-content: center; }

.jenny {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .logoIg {
    width: 100%;
    justify-content: center; }
  .tamanioLogoIg {
    width: 50%; }
  .final__redes {
    text-aling: center;
    padding: 0; } }
