$pDesktop: 11px;
$lafuente: 'Style script', cursive;
$sinestilo: none;

.textoProd
{
	display: flex;
	justify-content: center;
}

.tituloProductos
{
  text-align: center;
  font-family: $lafuente;
}

.contacto
{
  text-align: center;
  font-family: $lafuente;
}

.final
{
	&__estilo
	{
		font-size:$pDesktop;
	}
	&__redes
	{
	list-style: $sinestilo;
	padding: 0;
	}
}

.listadoPreguntas
{
	list-style: $sinestilo;
	padding: 3%;
}

.estilocontacto
{
	font-family: $lafuente;
}